# Dipendenze
node_modules/

# Files temporanei del sistema operativo
.DS_Store
Thumbs.db

# File di configurazione Editor
.vscode/
.idea/

# Evita di tracciare file superflui
*.log
assets/img/original/
